/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Utils */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

img {
  display: block;
}

/* -----------------------------HEADER-------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6600;
  width: 100%;
  padding: 10px 20px;
  position: sticky;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
}

header .navbar-logo img {
  height: 40px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-wrapper {
  background-color: #FF6600;
  width: 100%;
}


.navbar-icon i{
  color: #fff;
}

/* --------------------------------MAIN----------------------------------- */
main {
  padding: 20px;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.col{
  flex-basis: calc(100%/3);
  border: 2px dashed black;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.photo{
  position: relative;
}

.discount{
  position: absolute;
  bottom: 50px;
  left: 0;
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
}

.green{
  position: absolute;
  bottom: 50px;
  left: 62px;
  background-color: green;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
}
/* --------------------------------FOOTER----------------------------------- */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #FF6600;
  text-decoration: none;
  margin: 0 5px;
}