/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img{
  display: block;
  max-width: 100%;
}

ul{
  list-style-type: none;
}

a{
  color: #fff;
  text-decoration: none;
}

header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin-bottom: 30px;
  color: white;
  background-color: #FF6A07;
  box-shadow: 0 1px 3px #666;
}

/* Utils */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}

.col{
  flex-basis: calc(100% /3 - 30px / 3);
}


/* Header */
#logo{
  height: 30px;
  margin: 0 auto;
}

.navbar{
  height: 80px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navbar ul{
  display: flex;
  gap: 10px;
}

.navbar-right ul{
  justify-content: flex-end;
}

.navbar > div{
  flex-basis: calc(100% / 3);
}


/* Card */

.card-text{
  padding: 5px 0;
}

.card-image{
  position: relative;
}

.card-image img:last-of-type{
  display: none;
}

.card-image:hover img:last-of-type{
  display: block;
}

.card-image:hover img:first-child{
  display: none;
}

.card-image .card-badges{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;

}

/* heart */

.favourite{
  cursor: pointer;
  width: 50px;
  height: 50px;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  right: 0;
  top: 10px;
}

.favourite:hover, .article-price{
  color: red;
}

/* Badge */

.badge{
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

.badge-discount{
  background-color: red;
}

.badge-tag{
  background-color: green;
}

/* article */

.article-brand, del{
  font-size: 13px;
}

.article-name{
 text-transform: uppercase;
}